
# Ignore Python cache and environment
__pycache__/
*.py[cod]
.venv/
env/
venv/
__init__*

# SQLite database
# db.sqlite3
# /projecthub/db.sqlite3

# VSCode settings
.vscode/

# Ignore everything named 'gitignore' without a dot (optional)
gitignore
.gitignore
