$card_bg:#fcf9b2;

.pin-toggle-btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;

  i {
    color: #888;
    transition: color 0.2s ease;
  }

  &:hover i {
    color: #ff0000;
  }
}


body {
  background-image: url('/static/img/background.svg') !important;
  background-size: 110%;      // scale to fill screen
  background-position:top center;   // center it
  background-repeat:repeat-y;   // no tiling
  background-attachment: fixed;   // stays in place on scroll
  background-color: #fef4e5ff;

}

.reg {
  color: #222222; // makes the whole paragraph text black

  a {
    color: #196efa !important; // makes the link text black
    text-decoration: none; // optional, keeps the link look
    font-weight:bold;
  }
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); // white overlay
  z-index: -1;
}

a {
  text-decoration: none;
  color: #e7e7e7;

}

.project-detail-box {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




.project-card {
  .card-body {
    padding: 0.5rem !important;
  }

  .card-title {
    margin-bottom: 0.25rem;
    font-size: 1rem;
  }

  .card-text {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
  }

  .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }
  box-shadow: .125rem .125rem .35rem #444444c7;
}


.card {
  background-color: $card_bg !important;
  border-style:solid;

}

.container {
  .text-center {
    border: none;
    max-height: 10rem;
  }
}


.login-page {
  position: relative;
  z-index: 1; // keep content above background
  padding: 2rem 0.5rem;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 140px;
    background-image: url('/static/img/login-banner.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 1; // tweak this as needed
    z-index: -1;
  }

  .container {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}


.custom-progress-bar {
  background-color: #416d4a; // change to any color you like
  color: #fff; // white text
  font-weight: bold;
  transition: width 0.6s ease;
}

