.pin-toggle-btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;

  i {
    color: #888;
    transition: color 0.2s ease;
  }

  &:hover i {
    color: #ff0000;
  }
}

body {
  background-color: #e8f6ff;
}


.project-card {
  .card-body {
    padding: 0.5rem !important;
  }

  .card-title {
    margin-bottom: 0.25rem;
    font-size: 1rem;
  }

  .card-text {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
  }

  .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }
}


.card {
  background-color: #e5eee5 !important;
  border-style:dotted;
}