{% extends 'base.html' %}
{% load crispy_forms_tags %}  {# <--- This line is required for crispy forms #}

{% block title %}Create Project{% endblock %}

{% block content %}
  <h1>Plan Details</h1>
  <form method="post">
    {% csrf_token %}
     <h1>{% if editing %}Update Plan{% else %}Create a New Plan{% endif %}</h1>
    {{ form|crispy }}
   

    <button type="submit" class="btn btn-success mt-2">Save</button>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-2 ms-2">Cancel</a>
  </form>


{% comment %} <div class="mb-3">
  <label for="id_progress" class="form-label">Progress</label>
  {{ form.progress }}
</div> {% endcomment %}
{% endblock %}
