.pin-toggle-btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
.pin-toggle-btn i {
  color: #888;
  transition: color 0.2s ease;
}
.pin-toggle-btn:hover i {
  color: #ff0000;
}

body {
  background-image: url("/static/img/background.svg") !important;
  background-size: 110%;
  background-position: top center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-color: #fef4e5;
}

.reg {
  color: #000;
}
.reg a {
  color: #196efa !important;
  text-decoration: none;
  font-weight: bold;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: -1;
}

a {
  text-decoration: none;
  color: #e7e7e7;
}

.project-detail-box {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-card .card-body {
  padding: 0.5rem !important;
}
.project-card .card-title {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}
.project-card .card-text {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}
.project-card .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.card {
  background-color: #e5eee5 !important;
  border-style: dotted;
}

.container .text-center {
  border: none;
  max-height: 10rem;
}